#signUpJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#signUpForm{
    justify-items: left;
}

#emailInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: red;
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
  
}

#userNameInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: rgb(247, 94, 38); 
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
}

#firstNameInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: yellow;
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
}

#lastNameInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: rgb(52, 182, 52);
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
}

#prefixInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: rgb(3, 105, 25);
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
}

#roleSelector{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: blue;
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
}

#passwordInput1{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: rgb(124, 30, 136);
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
}

#passwordInput2{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: rgb(236, 52, 153);
    box-shadow:inset 0 0 1em white;
    border-radius: 0.3em;
}

#signUpButton{
    width: 5em;
    height: 3em;
    padding: 1em;
    background-image: url ('/images/rainbow-starburst-background') no-repeat;
}

.inputField{
    display: flex;
    align-items: center;
}

