.emailInput{
    width: 5em;
    padding: 1em;
    background-color: red;
  
}; 

.userNameInput{
    width: 5em;
    padding: 1em;
    background-color: rgb(226, 83, 31); 
   
}; 

.firstNameInput{
    width: 5em;
    padding: 1em;
    background-color: yellow;
 
};

.lastNameInput{
    width: 5em;
    padding: 1em;
    background-color: rgb(1, 82, 1);
    
};

.prefixInput{
    width: 5em;
    padding: 1em;
    background-color: rgb(20, 184, 134);
   
};

.roleSelector{
    width: 5em;
    padding: 1em;
    background-color: blue;
  
};

.passwordInput1{
    width: 5em;
    padding: 1em;
    background-color: rgb(100, 2, 100);
  
};

.passwordInput2{
    width: 5em;
    padding: 1em;
    background-color: rgb(236, 52, 153);

};

.signUpButton{
    width: 2em;
    padding: 1em;
    background-image: url ('/images/rainbow-starburst-background') no-repeat;
};