#signUpJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 5em;
}

#signUpForm{
    justify-items: left;
    margin-left: 10em;
}

.inputField{
    display: flex;
    align-items: center;
}

#emailInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em red;
    border-radius: 0.3em;
  
}

#userNameInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white; 
    box-shadow:inset 0 0 1em rgb(247, 94, 38);
    border-radius: 0.3em;
}

#firstNameInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em  yellow;
    border-radius: 0.3em;
}

#lastNameInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em rgb(52, 182, 52);
    border-radius: 0.3em;
}

#prefixInput{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em rgb(3, 105, 25);
    border-radius: 0.3em;
}

#roleSelector{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em blue;
    border-radius: 0.3em;
}

#passwordInput1{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em  rgb(124, 30, 136);
    border-radius: 0.3em;
}

#passwordInput2{
    width: 20em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em rgb(236, 52, 153);
    border-radius: 0.3em;
}

#signUpButton{
    width: 10em;
    height: 5em;
    font-family: 'Galindo', cursive;
    margin-right: 15em; 
    
    /* background-image: url ('/images/rainbow-starburst-background') no-repeat; */
}



