#studentLandHeader{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 5em;
    opacity: 0.5;
    margin-bottom: 1em;
    margin-top: 1em;
}

.studentPgCol{
    background-color: rgba(52,52, 52, 0.1);
    border-radius: 0.3em;
    outline: black;
    outline-width: 1px;
    width: auto;
    margin-bottom: 3em;
}

#classColHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
}

#assmtColHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
}