#classCard{
    background-color: rgba(52,52, 52,0.1);
}

#className{
    font-family: 'Galindo', cursive;
    text-align: center;
}

#classDesc{
    font-family: 'Galindo', cursive;
    text-align: center;
}