#classList{
    background-color: rgba(52,52, 52,0.0);
    
    
}

#className{
    font-family: 'Galindo', cursive;
    text-align: center;
}

#classDesc{
    font-family: 'Galindo', cursive;
    text-align: center;
}