#classList{
    background-color: rgba(52,52, 52, 0.0);
    outline: none;
    
}

#className{
    /* font-family: 'Galindo', cursive; */
    text-align: center;
    font-size: 2em;
}

#classDesc{
    /* font-family: 'Galindo', cursive; */
    text-align: center;
}