
.passwordInput{
    width: 5em;
    padding: 1em;
    background-color: pink;
  
}; 
.emailInput{
    width: 5em;
    padding: 1em;
    background-color: yellow;
  
}; 


.signUpButton{
    width: 2em;
    padding: 1em;
    background-image: url ('/images/rainbow-starburst-background') no-repeat;
}