#logInJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 5em;
}

#logInForm{
    justify-items: left;
    margin-left: 10em;
   
}

.inputField{
    display: flex;
    align-items: center;
   
}

#emailInputLogin{
    width: 23em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em rgb(255, 125, 3);
    border-radius: 0.3em;
  
}

#passwordInputLogin{
    width: 23em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em yellow;
    border-radius: 0.3em;
    margin-bottom: 3em;
}

#logInButton{
    width: 10em;
    height: 5em;
    font-family: 'Galindo', cursive;
    margin-right: 15em; 
    opacity: 0.2;
}


