#logInLogo{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 6em;
    opacity: 0.9;
    margin-bottom: 0.5em; 
    margin-top: 0.5em;
    justify-content: center;
}

#logInJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 3em;

}

#wrench{
    font-size: 1em;
}


#logInForm{
    justify-items: left;
}

.inputField{
    display: flex;
    align-items: center;
}

#emailInputLogin{
    width: 23em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em rgb(255, 125, 3);
    border-radius: 0.3em;
  
}

#passwordInputLogin{
    width: 23em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em yellow;
    border-radius: 0.3em;
    margin-bottom: 3em;
    
}

#logInButton{
    width: 8em;
    height: 4em;
    opacity: 0.7;
    justify-items: left;

}


