.emailInput{
    width: 5em;
    padding: 1em;
    background-color: yellow;
  
}; 

.passwordInput{
    width: 5em;
    padding: 1em;
    background-color: blue;
  
}; 

.signUpButton{
    width: 2em;
    padding: 1em;
    background-image: url ('/images/rainbow-starburst-background') no-repeat;
}