.container{
    background:  url("./coloredPencilsBottom.jpg") no-repeat center/cover;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
    /* padding: 0px; */ 
}