#teacherLandingJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 5em;
    opacity: 0.5;
}

#createClassCol{
    box-shadow:inset 0 0 1em  rgb(124, 30, 136);
    border-radius: 0.3em;
}

#showClassCol{
    box-shadow:inset 0 0 1em  rgb(124, 30, 136);
    border-radius: 0.3em;
}

#createClassHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
}

#showClassHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
}

.inputField{
    display: flex;
    align-items: center;
}

#createClassButton{
    width: 10em;
    height: 5em;
    font-family: 'Galindo', cursive;
    margin-right: 15em; 
    justify-content: center;
}

#classNameInput{
    width: 25em;
    height: 1em;
    padding: 1em;
    background-color: white; 
    box-shadow:inset 0 0 1em rgb(247, 94, 38);
    border-radius: 0.3em;
}

#classSubtitleInput{
    width: 25em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em  rgb(124, 30, 136);
    border-radius: 0.3em;
}