#teacherLandingJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 3em;
    opacity: 0.5;
    margin-bottom: 1em;
    margin-top: 1em;
}

#teacherDashLogo{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 6em;
    opacity: 0.5;
    margin-bottom: 0.5em; 
    margin-top: 0.5em;
}

#wrench{
    font-size: 1em;
}

.classDropdown{
    background-color: rgba(52,52, 52, 0.1);
    width: inherit;
    opacity: 0.7;
}

#createClassDiv{
    background-color: rgba(52,52, 52, 0.1);
    border-radius: 0.3em;
    outline: black;
    outline-width: 1px;
    width: auto;
}

.teacherHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
}


.inputField{
    display: flex;
    align-items: center;
}

#createClassButton{
    width: 8em;
    height: 4em;
    opacity: 0.7;
}

#classNameInput{
  width: 15em;
    height: 1em;
    padding: 1em;
    background-color: white; 
    box-shadow:inset 0 0 1em rgb(247, 94, 38);
    border-radius: 0.3em;
    
}

#classSubtitleInput{
   width: 15em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em  rgb(124, 30, 136);
    border-radius: 0.3em;
}

#classCard{
    background-color: rgba(52,52, 52, 0.1);
    list-style-type: none;
    margin-bottom: 1em;
    width: inherit;
    height: auto;
}