#teacherLandingJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 5em;
    opacity: 0.5;
    margin-bottom: 1em;
    margin-top: 1em;
}

#createClassCol{
    background-color: rgba(52,52, 52, 0.1);
    border-radius: 0.3em;
    outline: black;
    outline-width: 1px;
}

.teacherHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
}


.inputField{
    display: flex;
    align-items: center;
}

#createClassButton{
    width: 8em;
    height: 4em;
    opacity: 0.5;
    font-family: 'Galindo', cursive;
    /* margin-right: 15em; 
    justify-content: center; */
}

#classNameInput{
    width: 25em;
    height: 1em;
    padding: 1em;
    background-color: white; 
    box-shadow:inset 0 0 1em rgb(247, 94, 38);
    border-radius: 0.3em;
    
}

#classSubtitleInput{
    width: 25em;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em  rgb(124, 30, 136);
    border-radius: 0.3em;
}

#classCard{
    background-color: rgba(52,52, 52,0.1);
    list-style-type: none;
    margin-bottom: 1em;
   
}