#classJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 5em;
    opacity: 0.5;
   
}

#classSubtitle{
    font-family: 'Galindo', cursive;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.classHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
}