#classJumbotron{
    color: red; 
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Galindo', cursive;
    font-size: 5em;
    opacity: 0.5;
   margin-top: 1em;
   margin-bottom: 0.5em;
}

#classSubtitle{
    font-family: 'Galindo', cursive;
    text-align: center;
    font-size: 3em;
    color: blue;
    opacity: 0.5;
    margin-bottom: 1em;
}

.classHeader{
    font-family: 'Galindo', cursive;
    text-align: center;
    font-size: 2em;
    margin: 0.5 em;
}

.classCard{
    background-color: rgba(52,52, 52, 0.1);
    border-radius: 0.3em;
    outline: black;
    outline-width: 1px;
    
}

#assmtCol{
  
} 

#assignmentCard{
    background-color: rgba(52,52, 52, 0.1);
    outline: none;
    margin-bottom: 3em; 
}

#addAssmtDiv{
    background-color: rgba(52,52, 52, 0.1);
    border-radius: 0.3em;
    outline: black;
    outline-width: 1px;
    padding-bottom: 0em;
}

#assmtNameInput{
    width: inherit;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em red;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

#assmtNoteInput{
    width: inherit;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em rgb(255, 125, 3);
    border-radius: 0.3em;
    margin-bottom: 1em;
}

#assmtWeightNum{
    width: inherit;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em yellow;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

#assmtCreateBtn{
    width: 8em;
    height: 4em;
    opacity: 0.5;
}

#showStudentCard{
    background-color: rgba(52,52, 52, 0.1);
    border-radius: 0.3em;
    outline: black;
    outline-width: 1px;
    margin-bottom: 3em;

}

#studentList{
    list-style-type: none;
    padding-left: 2em;
    margin-bottom: 1em;
    
}

#addStudentCard{
    background-color: rgba(52,52, 52, 0.1);
    border-radius: 0.3em;
    outline: black;
    outline-width: 1px;
    
}

#studentDropdown{
    width: initial;
    height: 1em;
    padding: 1em;
    background-color: white;
    box-shadow:inset 0 0 1em green;
    border-radius: 0.3em;
}

#studentAddBtn{
    opacity: 0.5;
    width: 8em;
    height: 4em;
}